<div class="errors">
<% if @playergame.errors.any? %>
    <h3>The game wasn't saved because:</h3>
    <ul>
    <li> <%= @playergame.errors.full_messages.to_sentence %> </li>
    </ul>
<% end %>
</div>

<%=form_for(@playergame) do |f|%>
<%= f.label :dm_host_name, "Who is the DM?"%>
<%= f.collection_select :dm_host_name, Dm.all, :username, :username %>
</br>
<%= f.label :game_id, "What is the Campaign Name?"%>
<%= f.collection_select :game_id, Game.all, :id, :camp_name %>
</br>
<%= f.label :character, "Which character are you using?"%>
<%= f.collection_select :character, current_player.characters.all, :name, :name %>
</br>
<%= f.label :date_joined, "What day did you join the campaign?"%>
<%= f.date_field :date_joined%>
</br>
<%= f.label :loot_found, "Have you found any loot?"%>
<%= f.text_area :loot_found%>
</br>
<%= f.label :exp_gained, "Have you gained any exp points?"%>
<%= f.number_field :exp_gained,in: 0...10000%>
</br>
<%= f.label :coin_reward, "Have you made any money?"%>
<%= f.number_field :coin_reward,in: 0...10000%>
</br>
<%= f.label :game_notes, "Any notes about the game?"%>
<%= f.text_area :game_notes%>
</br>
<%= f.submit "Submit Your Game!" %>
<%= link_to "Cancel", player_playergames_path(@player)%>
<%end%>