<h1>Ah! The game master is here!</h1>
<h5>
Have you been here before?
If you have please enter your username and password, if you are new click the link to sign up!
</h5>

<%= form_for(:dm) do |f|%>
    <%= f.label :username%>
    <%= f.text_field :username%>
</br>
    <%= f.label :password%>
    <%= f.password_field :password%>
</br>
    <%= f.submit "Log In"%>
<%end%>
</br>
<%= link_to "Need to Signup?", dm_signup_path%>