<div class="errors">
<% if @game.errors.any? %>
<div class="alert alert-dismissible alert-warning"> 
    <h3>The game wasn't saved because:</h3>
    <ul>
    <li> <%= @game.errors.full_messages.to_sentence %> </li>
    </ul>
</div>
<% end %>
</div>

<%= form_with model: @game, local: true do |f|%>

<%= f.label :game_active, "Is this game active?"%>
<%= f.check_box :game_active, {checked: true, unchecked: false} %>
<br/>
<%= f.label :camp_name, "Campaign Name:"%>
<%= f.text_field :camp_name%>
<br/>
<%= f.label :date_started, "Date Game Started?"%>
<%= f.date_field :date_started%>
<br/>
<%= f.label :sessions_played, "How many sessions have you played?"%>
<%= f.number_field :sessions_played%>
<br/>
<%= f.label :loot_found, "What loot was found?"%>
<%= f.text_area :loot_found%>
<br/>
<%= f.label :exp_gained, "Experience points gained?"%>
<%= f.number_field :exp_gained,in: 0...10000%>
<br/>
<%= f.label :coin_reward, "Coin Reward?"%>
<%= f.number_field :coin_reward,in: 0...10000%>
<br/>
<%= f.label :game_notes, "Any notes?"%>
<%= f.text_area :game_notes%>
<br/>
 <%= f.submit "Submit Your Game!" %>
 <%end%>
 <%= link_to "Cancel", dm_games_path(current_dm)%>
