<h2>Your Game:</h2>

<b>Is this game active?:</b>
<%if @game.game_active == true %>
<%="Yes this game is being played!"%>
<%elsif @game.game_active == false%>
<%="No we finished that game!"%>
<%end%>
<br/>
<b>Campaign Name:</b>
<%=@game.camp_name%>
<br/>
<b>Date Game Started:</b>
<%=@game.date_started%>
<br/>
<b>Sessions Played:</b>
<%=@game.sessions_played%>
<br/>
<b>Loot Found:</b>
<%=@game.loot_found%>
<br/>
<b>Experience Points Gained:</b>
<%=@game.exp_gained%>
<br/>
<b>Coin Reward:</b>
<%=@game.coin_reward%>
<br/>
<b>Game Notes:</b>
<%=@game.game_notes%>
<br/>
<%= link_to "Need to Edit your Game?", edit_dm_game_path(current_dm)%>
<%= link_to("Delete this Game?", @game, method: :delete, data:{confirm: "Are you sure? You can't undo this."}) %>