<div class="errors">
<% if @story.errors.any? %>
    <h3>The story wasn't saved because:</h3>
    <ul>
    <li> <%= @story.errors.full_messages.to_sentence %> </li>
    </ul>
<% end %>
</div>

<%=form_for(@story) do |f|%>

<%= f.label :title, "Title:"%>
<%= f.text_field :title%>
</br>
<%= f.label :setting, "Setting:"%>
<%= f.text_field :setting%>
</br>
<%= f.label :camp_type, "Campaign Type:"%>
<%= f.text_field :camp_type%>
</br>
<%= f.label :final_boss, "Final Boss:"%>
<%= f.text_field :final_boss%>
</br>
<%= f.label :item_rewards, "Item Rewards:"%>
<%= f.text_field :item_reward%>
</br>
<%= f.label :coin_reward, "Coin Reward:"%>
<%= f.number_field :coin_reward,in: 0...10000%>
</br>
<%= f.label :exp_reward, "Experience Reward:"%>
<%= f.number_field :exp_reward,in: 0...10000%>
</br>
<%= f.label :summary, "Summary:"%>
<%= f.text_area :summary%>
</br>
<%= f.label :difficulty, "Difficulty:"%>
<%= f.text_field :difficulty%>
</br>
<%= f.label :story_link, "Link to the Story:"%>
<%= f.text_field :story_link%>
</br>
 <%= f.submit "Submit Your Story!" %>
 <%= link_to "Cancel", stories_path%>
 <%end%>

