<h1>Your Collection of Stories:</h1>

<p>
<% @stories.each do |story| %>
    <li>
    <%= link_to story.name, stories %>
    </li>
    <br>
<%end%>
</p>

<%= link_to 'Create a new story!', new_story_path%>
<br><br>
<p> Don't smile too much... they will know you are up to something! </p>

<% if !dm_logged_in? %>
<ul>
    <li><%= link_to "Sign Up", dm_signup_path  %></li>
    <li><%= link_to "Log in", dm_login_path %></li>
<% else %>
    <li><%= link_to "Log out", dm_logout_path, method: :delete %></li>
</ul>
<% end %>

<% if dm_logged_in? %>
    <h2>Hey there <%= current_dm.username %></h2>
<% end %>