<h2>Your Character:</h2>
<b>Name:</b>
<%= @character.name %>
<br/>
<b>Class:</b>
<%= @character.character_class %>
<br/>
<b>Level:</b>
<%= @character.level %>
<br/>
<b>Background:</b>
<%= @character.background %>
<br/>
<b>Race:</b>
<%= @character.race %>
<br/>
<b>Alignment:</b>
<%= @character.alignment %>
<br/>
<b>Experience Points:</b>
<%= @character.exp %>
<br/>
<b>Strength:</b>
<%= @character.str %>
<br/>
<b>Constitution:</b>
<%= @character.con %>
<br/>
<b>Dexterity:</b>
<%= @character.dex %>
<br/>
<b>Intelligence:</b>
<%= @character.inte %>
<br/>
<b>Wisdom:</b>
<%= @character.wis %>
<br/>
<b>Charisma:</b>
<%= @character.chari %>
<br/>
<b>Strength Modifier:</b>
<%= @character.str_mod%>
<br/>
<b>Dexterity Modifier:</b>
<%= @character.dex_mod%>
<br/>
<b>Constitution Modifier:</b>
<%= @character.con_mod %>
<br/>
<b>Intelligence Modifier:</b>
<%= @character.inte_mod %>
<br/>
<b>Wisdom Modifier:</b>
<%= @character.wis_mod %>
<br/>
<b>Charisma Modifer:</b>
<%= @character.chari_mod %>
<br/>
<b>Passive Wisdom:</b> 
<%= @character.passive_wis %>
<br/>
<b>Proficiencies:</b>
<%= @character.proficiencies %>
<br/>
<b>Language:</b>
<%= @character.lang %>
<br/>
<b>Armor_Class:</b>
<%= @character.armor_class %>
<br/>
<b>Initiative:</b>
<%= @character.initiative %>
<br/>
<b>Speed:</b>
<%= @character.speed %>
<br/>
<b>Maximum Hit Points:</b>
<%= @character.hit_pt_max%>
<br/>
<b>Hit Dice:</b>
<%= @character.hit_dice %>
<br/>
<b>Spell Name:</b>
<%= @character.spellname %>
<br/>
<b>Spell Description:</b>
<%= @character.spell_desc %>
<br/>
<b>Armor Description:</b>
<%= @character.arm_desc %>
<br/>
<b>CP:</b>
<%= @character.cp %>
<br/>
<b>SP:</b>
<%= @character.sp %>
<br/>
<b>EP:</b>
<%= @character.ep %>
<br/>
<b>GP:</b>
<%= @character.gp %>
<br/>
<b>PP:</b>
<%= @character.pp %>
<br/>
<b>Personality Traits:</b>
<%= @character.personality_traits %>
<br/>
<b>Ideals:</b>
<%= @character.ideas %>
<br/>
<b>Bonds:</b>
<%= @character.bonds %>
<br/>
<b>Flaws:</b>
<%= @character.flaws %>
<br/>
<b>Features & Traits:</b>
<%= @character.feat_traits %>
<br/>
<b>Information About Your Characters Race:</b>
<%= @character.race_info%>
<br/>
<b>Class Information:</b>
<%= @character.class_info%>
<br/>
<b>Background Story:</b>
<%= @character.bg_story %>
<br/>
<b>Leveling:</b>
<%= @character.lvl_gain %>
<br/>

<%= link_to "Need to Edit your Character?", edit_character_path%>
<%= link_to("Delete this Character?", @character, method: :delete, data:{confirm: "Are you sure? You can't undo this."}) %>