<h1>Ah! Welcome Traveller!</h1>
<h5>
Have you been here before?
If you have please enter your username and password, if you are new click the link to sign up!
</h5>

<%= form_for(:player) do |f|%>
    <%= f.label :username%>
    <%= f.text_field :username%>
<br/>
    <%= f.label :password%>
    <%= f.password_field :password%>
<br/>
    <%= f.submit "Log In"%>
<%end%>
OR... 
<%= link_to "Sign Up or Log In with Google!",'/auth/google_oauth2'%>
<br/>
OR...<%= link_to "Need to Signup?", player_signup_path%>
