<% if !dm_logged_in? %>
<ul>
    <%= link_to "Need to Signup?", dm_signup_path%>
    <%= link_to "Home", "/"%>  
<% else %>
    Hey there <%= current_dm.username %>
    <%= link_to "Log out", dm_logout_path, method: :delete %>
    <%= link_to "Home", "/"%>
    <%= link_to "Stories", stories_path%>
    <%= link_to "Games", games_path%>
</ul>
<% end %>

<h6> Don't smile too much... they will know you are up to something! </h6>

