<% if player_logged_in? %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">    
  <a class="navbar-brand" href="#">Hey there <%= current_player.username %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
         <%=link_to "Home", "/", class: "nav-link"%>
          <span class="sr-only">(current)</span>
        </>
      </li>
      <li class="nav-item">
         <%= link_to "Characters",characters_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
       <%= link_to "Games",player_playergames_path(current_player), class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to "Log out", player_logout_path, method: :delete, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>
<%else%>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">    
  <a class="navbar-brand" href="#">Hey there <%=current_dm.username%></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
         <%=link_to "Home", "/", class: "nav-link"%>
          <span class="sr-only">(current)</span>
        </>
      </li>
    </ul>
  </div>
</nav>
<% end %>

<h6> Don't smile too much... they will know you are up to something! </h6>
