<% if player_logged_in? %>
<ul>
    Hey there <%= current_player.username %>
    <%= link_to "Log out", player_logout_path, method: :delete %>
    <%= link_to "Home", "/"%>
<% else %>
    <%= link_to "Need to Signup?", player_signup_path%>
    <%= link_to "Home", "/"%>  
</ul>
<% end %>

<h6> Don't smile too much... they will know you are up to something! </h6>
