<!DOCTYPE html>
<html>
  <head>
    <title>RailsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer>
    <%if current_player%>
        <%=render 'layouts/playernav'%>
    <%elsif current_dm%>
        <%=render 'layouts/dmnav'%>
    <%end%>
  
  </footer>


</html>
